[submodule "vim/bundle/vim-table-mode"]
	path = vim/bundle/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/vim-fish"]
	path = vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "config/vis/plugins/vis-cursors"]
	path = config/vis/plugins/vis-cursors
	url = https://github.com/erf/vis-cursors
[submodule "config/vis/plugins/vis-spellcheck"]
	path = config/vis/plugins/vis-spellcheck
	url = https://github.com/fischerling/vis-spellcheck
